.domain-line-actions {
    display: flex;

    .cancel-button {
        margin-left: 10px;
    }
}

:global {
    .form-group {
        margin: 0;
    }
    .mb-2 {
        margin: 0;
    }
    .form-check {
        height: 100%;
        .row {
            height: 100%;
            .col-12 {
                height: 100%;
                .d-flex {
                    height: 100%;
                    justify-content: center;
                    input[id^='ParamDomain-domainIsAddingWarranties'].form-check-input {
                        align-self: center;
                        position: unset;
                        height: 100%;
                    }
                }
            }
        }
    }
    div[id^='checkbox-param-isAddingWarranties-'] {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .checkbox {
            align-self: center;
            position: unset;
        }
    }
}
