:global {
    .cgd-workflow {
        height: 120px;

        .cgd-step li {
            width: 115px;
        }
    }

    #debutEcheancePanel {
        height: 105px;
    }

    #amc {
        margin-top: 10.5px;
    }

    .dividerH {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0.5px solid #ddd;
        min-width: 500px;
    }
}
