image:
  registry: "${imageRegistry}"
  repository: "${imageRepository}"
  tag: "${imageTag}"
  pullPolicy: IfNotPresent
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
livenessProbe:
  failureThreshold: 30
  httpGet:
    path: /health
    port: http
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 10
readinessProbe:
  failureThreshold: 3
  httpGet:
    path: /ready
    port: http
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 10
podAnnotations:
  "prometheus.io/path": "/metrics"
  "prometheus.io/scrape": "true"
service:
  enabled: true
resources: {}
env:
  MLS_CACHE_TTL: "10800"  # 3h x 60min x 60sec
